<body ng-app="testRoute" ng-controller="testCtrl as vm">

  <div layout="column" style="height: 100%;width: 100%;align-items: center;justify-content: center;">
    <div layout="column" style="height: 70%;width: 70%;">
      <div layout="row" style="width: 100%;margin-top: 10px;background-color: rgba(0, 0, 0, 0.281);padding: 7px;">
        <div layout="column" style="text-align: center;" ng-repeat="col in columnArray"
          ng-style="widthSize(columnArray.length)">{{col}}</div>

      </div>
      <div layout="row" style="width: 100%;margin-top: 10px;background-color: rgba(0, 0, 0, 0.13);padding: 7px;"
        ng-repeat="item in vm.array">
        <div layout="column" style="width: 20%;text-align: center;">{{$index+1}}</div>
        <div layout="column" style="width: 20%;text-align: center;">{{item.name}}</div>
        <div layout="column" style="width: 20%;text-align: center;">{{item.email}}</div>
        <div layout="column" style="width: 20%;text-align: center;">{{item.phone}}</div>
        <div layout="column" style="width: 20%;text-align: center;">{{item.address}}</div>
      </div>
    </div>
  </div>

</body>